<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <!--
    	The codes are free, but we require linking to our web site.
    	Why to Link?
    	A true story: one girl didn't set a link and had no decent date for two years, and another guy set a link and got a top ranking in Google!
    	Where to Put the Link?
    	home, about, credits... or in a good page that you want
    	THANK YOU MY FRIEND!
    -->
    <title>Elm2aklaty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/style.css?q=26" rel="stylesheet">
		<script type ="text/javascript" src="static/js/jquery-3.2.1.min.js?q=1280549780"></script>
    
</head>
<body>
<div class="container bootstrap snippet">
    <div class="row">
        <!-- selected chat -->
    	<div class="col-md-8 col-md-offset-2 bg-white margin-div" id ='chatBody'>
                <ul class="chat" id="chatList" >
                      
                </ul>

		</div>
	</div>

  <div class="row chat-box">
    <div class="col-md-8 col-md-offset-2  bg-white chat-box-padding">
      <button type="button" id="wanttoeat" class = "btn btn-success">عايز أكل</button>
			<button type ="button" id="allrestaurants" class= "btn btn-success">كل المطاعم</button>
			<div class="input-group">
        <input id="textMessage" class="form-control border no-shadow no-rounded" placeholder="Type your message here" >
        <span class="input-group-btn">
          <button class="btn btn-success no-rounded" type="button" onclick="send()">Send</button>
        </span>
      </div><!-- /input-group -->
    </div>
  </div>
</div>

		<script type="text/javascript" class="" src = "static/js/script.js?q=12805496156"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjui4P2G12QB-1Z4ayVS691bggRhUblMM"></script>

</body>
</html>
