<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <!--
    	The codes are free, but we require linking to our web site.
    	Why to Link?
    	A true story: one girl didn't set a link and had no decent date for two years, and another guy set a link and got a top ranking in Google!
    	Where to Put the Link?
    	home, about, credits... or in a good page that you want
    	THANK YOU MY FRIEND!
    -->
    <title>Elm2aklaty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/bootstrap.css?q=1280549780" rel="stylesheet">
    <link href="static/css/style.css?q=1280549780" rel="stylesheet">
		<script type ="text/javascript" src="static/js/jquery-3.2.1.min.js?q=1280549780"></script>

</head>
<body>
<div class="container bootstrap snippet">
    <div class="row">
        <!-- selected chat -->
    	<div class="col-md-8 col-md-offset-2 bg-white ">
                <ul class="chat" id="chatList" >
                      <li class="left clearfix">
                    	<span class="chat-img pull-left">
                    		<img src="static/img/user_3.jpg?q=12" alt="User Avatar">
                    	</span>
                    	<div class="chat-body clearfix">
                    		<div class="header">
                    			<strong class="primary-font">John Doe</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                    		</div>
                    		<p>
                    			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    		</p>
                    	</div>
                    </li>
                    <li class="right clearfix">
                    	<span class="chat-img pull-right">
                    		<img src="static/img/user_1.jpg" alt="User Avatar">
                    	</span>
                    	<div class="chat-body clearfix">
                    		<div class="header">
                    			<strong class="primary-font">Sarah</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                    		</div>
                    		<p>
                    			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.
                    		</p>
                    	</div>
                    </li>
                </ul>

		</div>
	</div>

  <div class="row chat-box">
    <div class="col-md-8 col-md-offset-2  bg-white chat-box-padding">
      <div class="input-group">
        <input id="textMessage" class="form-control border no-shadow no-rounded" placeholder="Type your message here" >
        <span class="input-group-btn">
          <button class="btn btn-success no-rounded" type="button" onclick="send()">Send</button>
        </span>
      </div><!-- /input-group -->
    </div>
  </div>
</div>
<button id='button'></button>
		<script type="text/javascript" src = "static/js/script.js?q=12805497"></script>

</body>
</html>
